name: "Releases"

on:
  push:
    tags:
    - '*'

jobs:

  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
    - uses: actions/checkout@v4
    - uses: cachix/install-nix-action@v25
      with:
        nix_path: nixpkgs=channel:nixos-unstable
    - uses: DeterminateSystems/magic-nix-cache-action@v2
    - name: Build
      run: nix build .#nixlet
    - name: Sign for Secure Boot
      env:
        DB_KEY: ${{ secrets.DBKEY }}
        DB_CRT: ${{ secrets.DBCRT }}
      run: ./scripts/sign-release.sh
    - uses: ncipollo/release-action@v1.14.0
      with:
        artifacts: "signed/*"
